doctype html
html(lang='en')
  head
    title= title1
  body
    h1= message1 
    div.container
     p  we are learning #{techName} !
    h2= title2
    ul
      li 
        a(href='generatedHTML',target='_blank') Generated HTML Page
      li
        img(src='foto.jpg', width='100px', length='100px')

        

        
