h1 {
    /* font-family: Arial, Helvetica, sans-serif;*/
    font-size: 40pt;
    color: blueviolet;
    }
    p{
       /* font-family: 'Courier New', Courier, monospace; */
        font-size: 30pt;
        color: green;
    }
    div{
        font-family: sans;
        font-size: 3em;
        color: yellow;
    }
    a{
        font-size: 20pt;
        color: black;
    }
    a:hover{
        color: aqua;
    }
    
    